*{
	font-family: "Microsoft Yahei";
}
body{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
/*top*/
.top_bg{
	width: 100%;
	background-color: #F1F1F1;
}
.top{
	width: 1210px;
	height: 30px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
/*top_left*/
.top_left{
	float: left;
	width: 90px;
	text-align: center;
}
.top_left span{
	font: 12px "宋体"; 
	line-height: 30px;
	color: #666666;
}
.top_left:hover{
	background-color: #FFFFFF;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	width: 88px;
}
/*top_right*/
.top_right{
	float: right;
	position: relative;
}
.top_right dl{
	margin:8px 0 0;
	overflow: hidden;
}
.top_right a, .top_right span{
	font: 12px "宋体";
	color: #000000;
}
.top_right a:hover, .top_right_zc a{
	color: #C81623;
}
.top_right dl dt, .top_right dl dd{
	float: left;
	margin: 0;
	font: 12px "宋体";
}
.top_right dl dt{
	margin-right: 7px;
}
.top_right_zc{
	padding-right: 13px;
}
.top_right_dd, .top_right_hy, .top_right_sj,.top_right_kh{
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.top_right_qy, .top_right_dd, .top_right_hy{
	padding:0 11px 0 10px;
}
.top_right_sj{
	padding: 0px 16px 0 27px;
}
.top_right_jd, .top_right_gz, .top_right_kh,.top_right_wz{
	padding: 0 16px 0 10px;
}
.top_right_wz:hover{
	background-color: #FFFFFF;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
/*手机BG*/
.top_right_bg{
	height: 19px;
	width: 14px;
	background-color: #DDD;
	background: url('img/jd2015img.png') no-repeat 0px 0px;
	position: absolute;
	top: 5px;
	left:445px;
}
/*logo*/
.logo{
	height: 100px;
	width: 1210px;
	margin: 0 auto;
}
.jdlogo{
	float: left;
	width: 362px;
	height: 80px;
	padding-top: 20px;
	/*background: url("img/logo-201305.png") no-repeat 0 center;*/
}
.search{
	float: left;
	margin-top: 25px;
	position: relative;
}
.search input{
	width: 456px;
	height: 24px;
	padding: 4px;
	margin-bottom: 4px;
	border:2px solid #B61D1D;
	border-right: none;
	outline: none;
}
.search button{
	width: 82px;
	height: 36px;
	color: #FFFFFF;
	background: #B61D1D;
	border: none;
	cursor: pointer;
	font-size: 16px;
	position: absolute;
	top: 0;
}
.dropdown{
	background-color: #F9F9F9;
	width: 98px;
	height: 36px;
	float: right;
	border: 1px solid #DFDFDF;
	margin: 25px 65px 0 0;
	text-align: center;
	padding: 0 28px 0 36px;
	position: relative;
	cursor: pointer;
}
.dropdown_l{
	width: 18px;
	height: 16px;
	background: url('img/jd2015img.png') no-repeat 0 -58px;
	position: absolute;
	top: 10px;
	left: 18px;
}
.dropdown_r{

}
.dropdown span{
	font: 14px "宋体";
	line-height: 36px;
}
.reci{
	float: left;
}
.reci a{
	font: 13px "宋体";
	margin-right: 3px;
	color: #000000;
}
.reci a:hover{
	color: #C81623;
}

#first{
	color: #C81623;
}
/*header*/
.header{
	border-bottom: 2px solid #B1191A;
}
/*body*/
.body{
	width: 1210px;
	margin: 0 auto;
}
.header_nav{
	width: 1210px;
	margin: 0 auto;
}
.header_nav ul{
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.header_nav ul li{
	float: left;
}
.header_nav ul li a{
	line-height: 45px;
	margin: 0 20px;
	color: #000000;
}
.header_nav ul li a:hover{
	color: #C81623;
}
/*导航*/
.header_nav div{
	width: 200px;
	height: 45px;
	background-color: #B1191A;
	padding-left: 10px;
	float:left;
}
.header_nav div a{
	line-height: 45px;
	color: #FFFFFF;
}
/*商品大类*/
#nav_con{
	width: 209px;
	background-color: #C81623;
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom:1px solid #C81623;
	border-left:1px solid #C81623;
	position: relative;
}
.nav_cont{
	height: 31px;
	border-right: 1px solid #C81623;
	position: absolute;
	left: 208px;
	z-index: 2;
}
.nav_con_li:hover .nav_cont{
	border-right: 1px solid #F7F7F7;
}
.nav_con_li{
	padding-left: 10px;
}
.nav_con_lia{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 31px;
}
.nav_con_lis{
	color: #F7F7F7;
	display: inline-block;
	transform: scale(0.6,1);
	position: absolute;
	right: 9px;
}
.nav_con_li:hover{
	background-color: #F7F7F7;
}

.nav_con_li:hover .nav_con_lia{
	color: #B1191A;
}
.nav_con_li:hover .nav_list{
	display: block;
}
/*商品小类*/
.nav_list{
	display: none;
	width: 959px;
	background-color: #F7F7F7;
	border: 1px solid #C81623;
	border-top:none;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 208px;
	z-index:1;
}
/*商品小类 - 预览*/
.nav_list_left{
	width: 710px;
	float: left;
}
.nav_list_left ul{
	margin: 0 0 10px;
	list-style: none;
	overflow: hidden;
	padding: 0;
}
.nav_list_left ul li{
	float: left;
}
.nav_list_left ul li a{
	background-color: #7C7171;
	padding: 5px 10px;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 12px;
}
.nav_list_left ul li span{
	background-color: #5C5251;
	display: inline-block;
	transform:scale(0.6,1);
	padding: 1px 15px 3px;
	color: #FFFFFF;
	margin-left: -9px;
}
.nav_list_left ul li:hover a{
	background-color: #C81623;
}
.nav_list_left ul li:hover span{
	background-color: #B1191A;	
}
/*商品小类 - 明细*/
.nav_list_left dl{
	overflow: hidden;
	margin: 0;
}
.nav_list_left dl dt{
	float: left;
	font-weight: bold;
}
.nav_list_left_3zi{
	margin-left: 12px;
}
.nav_list_left_2row{
	height: 44px;
}
.nav_list_left_3row{
	height: 66px;
}
.nav_list_left dl dt span{
	display: inline-block;
	transform: scale(0.6,1);
	margin-left: 6px;
}
.nav_list_left dl dd{
	float: left;
	border-left: 1px solid #E0E0E0;
	padding-left: 10px;
	margin: 0 0 5px 10px;
}
.nav_list_left dl a{
	font-size: 12px;
	color: #666666;
	line-height: 20px;
}
.nav_list_left dl a:hover{
	color: #C81623;
}
.nav_list_left dl p{
	border-top: 1px solid #EEEEEE;
	width: 625px;
	float: left;
	margin: 5px 0 9px 75px;
	padding: 0;
}
/*商品小类*/
/*商品小类 - 广告展示*/
.nav_list_brand{
	width: 175px;
	float: right;
}
.nav_list_brand_logo a{
	height: 35px;
	float: left;
	margin: 0 1px 2px 0;
}
.brand_ad{
	margin: 7px 0 0px 0;
}
.nav_list_brand_ad a{
	height: 135px;
	float: left;
}