*{
	font-family: "Microsoft Yahei";
}
body{
	padding: 0;
	background-color: #FFFFFF;
	margin: 0;
	overflow-x: hidden; /*裁剪 div 元素中内容的左/右边缘 - 如果溢出元素的内容区域的话：*/
}
a{
	text-decoration: none;
}
/*top*/
.top_bg{
	width: 100%;
	background-color: #F1F1F1;
}
.top{
	width: 1210px;
	height: 30px;
	margin: 0 auto;
}
/*top_left*/
.top_left{
	float: left;
	text-align: center;
}
.top_left_span{
	font: 12px "宋体"; 
	width: 90px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	position: relative;
	display:inline-block;
}
.top_left ul{
	list-style: none;
	background-color: #FFFFFF;
	width: 290px;
	padding:14px 0 0 8px;
	margin: 0;
	position: absolute;
	top: 30px;
	display: none;
	border: 1px solid #DDDDDD;
	border-top: none;
	z-index: 8;
}
.top_left a{
	font: 12px "宋体"; 
	line-height: 24px;
	width: 40px;
	float: left;
	margin:0 14px 5px 0;
	color: #666666;
}

#selected, .top_left li:hover, .top_left a:hover{
	color: #FFFFFF;
	background: #C81623;
}
.top_left:hover .top_left_ul{
	display:block;
}
.top_left:hover .top_left_span{
	background-color: #FFFFFF;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	width: 88px;
}
/*top_right*/
.top_right{
	float: right;
	position: relative;
}
.top_right dl{
	margin: 0;
	overflow: hidden;
}
.top_right a, .top_right span{
	font: 12px "宋体";
	color: #666666;
	line-height: 30px;
}
.top_right a:hover, .top_right_zc a{
	color: #C81623;
}
.top_right dl dt, .top_right dl dd{
	float: left;
	margin: 0;
	font: 12px "宋体";
	height: 30px;
}
.top_right dl dt{
	margin-right: 7px;
}
.top_right_zc{
	padding-right: 13px;
}
.top_right_dd, .top_right_hy, .top_right_sj,.top_right_kh{
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.top_right_qy, .top_right_dd, .top_right_hy{
	padding:0 11px 0 10px;
}
.top_right_sj{
	padding: 0px 16px 0 27px;
}
.top_right_jd, .top_right_gz, .top_right_kh,.top_right_wz{
	padding: 0 16px 0 10px;
}
.jd_hover:hover{
	background: #FFFFFF;
}
.top_right_jd:hover .jd_my{
	display: block;
}
/*我的京东*/
.jd_my{
	width: 250px;
	background-color: #FFFFFF;
	position: absolute;
	top: 30px;
	left: 210px;
	z-index: 5;
	padding: 15px;
	border: 1px solid #DDDDDD;
	border-top: none;
	display: none;
}
.jd_my div{
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 12px;
}
.jd_my_tx{
	height: 60px;
	width: 60px;
	background: url("img/no-img_mid_.jpg") no-repeat center;
	border-radius: 60px;
	float: left;
}
#jd_my_nh{
	font-weight: bolder;
	font-size: 14px;
	display: block;
	margin:0 0 -5px 75px;
	padding-top: 5px;
}
#jd_my_yh{
	margin-left:15px;
}
.jd_my ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.jd_my li{
	float: left;
	margin: 10px 65px 0 0;
	width: 60px;
	font-family: "宋体";
	cursor: pointer;
}
.jd_my li:hover{
	color: #C81623;
}
/*手机京东*/
.sj_div{
	width: 250px;
	height: 197px;
	background: url("img/shouji.jpg") no-repeat center;
	-webkit-background-size: 100%;
	background-size: 100%;
	position: absolute;
	top: 30px;
	left: 437px;
	z-index: 5;
	border: 1px solid #DDDDDD;
	border-top: none;
	display: none;
	cursor: pointer;
}
.top_right_sj:hover .sj_div{
	display: block;
}
/*关注京东*/
.gz_div{
	width: 110px;
	height: 130px;
	background: url("img/wx.jpg") no-repeat center;
	-webkit-background-size: 100%;
	background-size: 100%;
	position: absolute;
	top: 30px;
	left: 541px;
	z-index: 5;
	border: 1px solid #DDDDDD;
	border-top: none;
	display: none;
	cursor: pointer;
}
.top_right_gz:hover .gz_div{
	display: block;
}
/*客户服务*/
.kh_div{
	width: 169px;
	height: 159px;
	background: url("img/kefu.jpg") no-repeat center;
	-webkit-background-size: 100%;
	background-size: 100%;
	position: absolute;
	top: 30px;
	left: 628px;
	z-index: 5;
	border: 1px solid #DDDDDD;
	border-top: none;
	display: none;
	cursor: pointer;
}
.top_right_kh:hover .kh_div{
	display: block;
}
/*网站导航*/
.wz_div{
	width: 1209px;
	height: 182px;
	background: url("img/daohang.jpg") no-repeat center;
	-webkit-background-size: 100%;
	background-size: 100%;
	position: absolute;
	top: 30px;
	left: -408px;
	z-index: 5;
	border: 1px solid #DDDDDD;
	border-top: none;
	display: none;
	cursor: pointer;
}
.top_right_wz:hover .wz_div{
	display: block;
}
/*手机BG*/
.top_right_bg{
	height: 19px;
	width: 14px;
	background-color: #DDD;
	background: url('img/jd2015img.png') no-repeat 0px 0px;
	position: absolute;
	top: 5px;
	left:445px;
}
/*logo*/
.logo{
	height: 100px;
	width: 1210px;
	margin: 0 auto;
}
.jdlogo{
	float: left;
	width: 362px;
	height: 80px;
	padding-top: 20px;
	outline: none;
}
img{
	border: none;
}
.search{
	float: left;
	margin-top: 25px;
	position: relative;
}
.search input{
	width: 445px;
	height: 24px;
	padding: 4px;
	margin-bottom: 4px;
	border:2px solid #B61D1D;
	border-right: none;
	outline: none;
}
.search button{
	width: 82px;
	height: 36px;
	color: #FFFFFF;
	background: #B61D1D;
	border: none;
	cursor: pointer;
	font-size: 16px;
	position: absolute;
	top: 0;
}
.dropdown{
	background-color: #F9F9F9;
	width: 98px;
	height: 36px;
	float: right;
	border: 1px solid #DFDFDF;
	margin: 25px 65px 0 0;
	text-align: center;
	padding: 0 28px 0 36px;
	position: relative;
	cursor: pointer;
}
.dropdown_l{
	width: 18px;
	height: 16px;
	background: url('img/jd2015img.png') no-repeat 0 -58px;
	position: absolute;
	top: 10px;
	left: 18px;
}
.dropdown span{
	font: 14px "宋体";
	line-height: 36px;
}
.dropdown:hover{
	background-color: #FFFFFF;
	color: #C81623;
	box-shadow: 0 0 1px 1px #DDDDDD;
}
.reci{
	float: left;
}
.reci a{
	font: 13px "宋体";
	margin-right: 3px;
	color: #666666;
}
.reci a:hover{
	color: #C81623;
}

#first{
	color: #C81623;
}
/*header*/
.header{
	border-bottom: 2px solid #B1191A;
}
/*body*/
.body{
	width: 1210px;
	margin: 0 auto;
	overflow: hidden;
}
.header_nav{
	width: 1210px;
	margin: 0 auto;
}
.header_nav ul{
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.header_nav ul li{
	float: left;
}
.header_nav ul li a{
	line-height: 45px;
	margin: 0 20px;
	color: #000000;
}
.header_nav ul li a:hover{
	color: #C81623;
}
/*导航*/
.header_nav div{
	width: 200px;
	height: 45px;
	background-color: #B1191A;
	padding-left: 10px;
	float:left;
}
.header_nav div a{
	line-height: 45px;
	font-size: 15px;
	color: #FFFFFF;
}
/*商品大类*/
#nav_con{
	float: left;
	width: 209px;
	background-color: #C81623;
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom:1px solid #C81623;
	border-left:1px solid #C81623;
	position: relative;
	z-index: 3;
}
.nav_cont{
	height: 31px;
	border-right: 1px solid #C81623;
	position: absolute;
	left: 208px;
	z-index: 6;
}
.nav_con_li:hover .nav_cont{
	border-right: 1px solid #F7F7F7;
}
.nav_con_li{
	padding-left: 10px;
}
.nav_con_lia{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 31px;
}
.nav_con_lis{
	color: #F7F7F7;
	display: inline-block;
	transform: scale(0.6,1);
	position: absolute;
	right: 9px;
}
.nav_con_li:hover{
	background-color: #F7F7F7;
}

.nav_con_li:hover .nav_con_lia{
	color: #B1191A;
}
.nav_con_li:hover .nav_list{
	display: block;
}
/*商品小类*/
.nav_list{
	display: none;
	width: 959px;
	background-color: #F7F7F7;
	border: 1px solid #C81623;
	border-top:none;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 208px;
	z-index:5;
}
/*商品小类 - 预览*/
.nav_list_left{
	width: 710px;
	float: left;
}
.nav_list_left ul{
	margin: 0 0 10px;
	list-style: none;
	overflow: hidden;
	padding: 0;
}
.nav_list_left ul li{
	float: left;
}
.nav_list_left ul li a{
	background-color: #7C7171;
	padding: 5px 10px;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 12px;
}
.nav_list_left ul li span{
	background-color: #5C5251;
	display: inline-block;
	transform:scale(0.6,1);
	padding: 1px 15px 3px;
	color: #FFFFFF;
	margin-left: -9px;
}
.nav_list_left ul li:hover a{
	background-color: #C81623;
}
.nav_list_left ul li:hover span{
	background-color: #B1191A;	
}
/*商品小类 - 明细*/
.nav_list_left dl{
	overflow: hidden;
	margin: 0;
}
.nav_list_left dl dt{
	float: left;
	font-weight: bold;
}
.nav_list_left_3zi{
	margin-left: 12px;
}
.nav_list_left_2row{
	height: 44px;
}
.nav_list_left_3row{
	height: 66px;
}
.nav_list_left dl dt span{
	display: inline-block;
	transform: scale(0.6,1);
	margin-left: 6px;
}
.nav_list_left dl dd{
	float: left;
	border-left: 1px solid #E0E0E0;
	padding-left: 10px;
	margin: 0 0 5px 10px;
}
.nav_list_left dl a{
	font-size: 12px;
	color: #666666;
	line-height: 20px;
}
.nav_list_left dl a:hover{
	color: #C81623;
}
.nav_list_left dl p{
	border-top: 1px solid #EEEEEE;
	width: 625px;
	float: left;
	margin: 5px 0 9px 75px;
	padding: 0;
}
/*商品小类*/
/*商品小类 - 广告展示*/
.nav_list_brand{
	width: 175px;
	float: right;
}
.nav_list_brand_logo a{
	height: 35px;
	float: left;
	margin: 0 1px 2px 0;
}
.brand_ad{
	margin: 7px 0 0px 0;
}
.nav_list_brand_ad a{
	height: 135px;
	float: left;
}
/*banner*/
#banner{
	float: left;
	width: 730px;
	margin: 12px 9px 0 11px;
	height: 454px;
	position: relative;
	z-index: 2;
}
#banner div{
	position: absolute;
	opacity: 0;
}
#banner a{
	display: inline-block;
	height: 454px;
	width: 730px;
}

.b1{
	background: url("img/1.jpg") no-repeat;
}
.b2{
	background: url("img/2.jpg") no-repeat;
}
.b3{
	background: url("img/3.jpg") no-repeat;
}
.b4{
	background: url("img/4.jpg") no-repeat;
}
.b5{
	background: url("img/5.jpg") no-repeat;
}
.b6{
	background: url("img/6.jpg") no-repeat;
}
.b7{
	background: url("img/7.jpg") no-repeat;
}
.b8{
	background: url("img/8.jpg") no-repeat;
}
.b9{
	background: url("img/9.jpg") no-repeat;
}
.b10{
	background: url("img/10.jpg") no-repeat;
}
.b11{
	background: url("img/11.jpg") no-repeat;
}
.b12{
	background: url("img/12.jpg") no-repeat;
}
.b13{
	background: url("img/13.jpg") no-repeat;
}
.b14{
	background: url("img/14.jpg") no-repeat;
}
.b15{
	background: url("img/15.jpg") no-repeat;
}
.b16{
	background: url("img/16.jpg") no-repeat;
}
.b17{
	background: url("img/17.jpg") no-repeat;
}


#banner ul{
	list-style: none;
	position: absolute;
	bottom: 10px;
	z-index: 3;
	padding: 0;
	margin: 0;
	left: 230px;
}
#bul li{
	float: left;
	margin-right: 15px;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	color: #FFFFFF;
}
.bli{
	opacity: 0.5;
	background: #666666;
}
#bul li:hover, .bliss{
	background:#B1191A;
	opacity:1;
}
/*news*/
.news{
	width: 248px;
	float: left;
	height: 452px;
	margin-top: 12px;
	border-right: 1px solid #DDDDDD;
	position: relative;
	z-index: 2;
}
.kuaibao{
	height: 34px;
	border: 1px solid #DDDDDD;
	border-right: none;
}
.kuaibao a{
	margin-left: 110px;
	color: #666666;
	line-height: 34px;
	font: 13px "宋体";
}
.kuaibao a:hover{
	color:#B1191A;
}
.kuaibao span{
	line-height: 34px;
	margin-left: 15px;
	color: #666666;
}
.nk{
	padding: 5px 0 5px 13px;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.nk a{
	color: #666666;
	font: 13px "宋体";
	line-height: 24px;
}
.nk a:hover{
	color:#B1191A;
}
.nk span{
	font-weight: bold;
}

.kuaijie ul{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.kuaijie li{
	float: left;
	width: 61px;
	height: 25px;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	text-align: center;
	padding-top: 40px;
	position: relative;
	cursor: pointer;
}
.kuaijie li:hover{
	background: #DDDDDD;
}
.kuaijie li:hover a{
	color: #B1191A;
}
.kuaijie a{
	font: 13px "宋体";
	color: #666666;
}
.kuaijie i{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 13px;
	left: 18px;
}
.i1{
	background: url('img/dd.png') no-repeat 0 0;
}
.i2{
	background: url('img/dd.png') no-repeat 0 -25px;
}
.i3{
	background: url('img/dd.png') no-repeat 0 -50px;
}
.i4{
	background: url('img/dd.png') no-repeat 0 -75px;
}
.i5{
	background: url('img/dd.png') no-repeat 0 -100px;
}
.i6{
	background: url('img/dd.png') no-repeat 0 -125px;
}
.i7{
	background: url('img/dd.png') no-repeat 0 -150px;
}
.i8{
	background: url('img/dd.png') no-repeat 0 -175px;
}
.i9{
	background: url('img/dd.png') no-repeat 0 -200px;
}
.i10{
	background: url('img/dd.png') no-repeat 0 -225px;
}
.i11{
	background: url('img/dd.png') no-repeat 0 -250px;
}
.i12{
	background: url('img/dd.png') no-repeat 0 -275px;
}

.ad{
	width: 250px;
	height: 75px;
	padding-top: 9px;
}
.ad3{
	margin: 12px 0 0px;
	width: 1210px;
	height: 165px;
	background: url("img/ade.jpg") no-repeat center;
	float: left;
	cursor: pointer;
	position: relative;
	z-index: 2;
}
/*footer*/
.footer{
	width: 100%;
	height: 100px;
	background-color: #F5F5F5;
	padding-top: 28px;
}
.noname{
	width: 1119px;
	height: 44px;
	margin: 20px auto 0;
	background: url("img/footer.jpg") no-repeat center;
}
/*bottom*/
.bottom{
	width: 1210px;
	height: 189px;
	margin: 0 auto;
	background: url('img/bottom.jpg') no-repeat;
}
#ignore{
	position: fixed;
	top: 0px;
	left: -150px;
	z-index: 12;
}
#ignore1{
	position: fixed;
	top: 0px;
	right: -150px;
	z-index: 11;
}
#ignore a, #ignore1 a{
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 150px;
	background-color: #B1191A;
	color: #FFFFFF;
	font-weight: bold;
	float: left;
}
#ignore span, #ignore1 span{
	margin: 0;
	float: left;
	height: 30px;
	width: 30px;
	background: #C81623;
	text-align: center;
	color: #FFFFFF;
	font-size: 25px;
	line-height: 30px;
	cursor: pointer;
}