body{
    padding: 0px;
    margin: 0px;
}
#main{
    /*宽高阴影*/
    width: 385px;
    height: 250px;
    box-shadow: 0px 0px 3px 3px #9f9f9f;
    
    /*定位*/
    position: relative;
    top: 150px;
    /*right: 0;*/
    left: 450px;
    /*bottom: 0px;*/
    /*margin:auto;*/
    background-color: #f6f6f6;

    /*radiu*/
    border-radius: 10px;
}

/*login面板*/
.loginUI{
    /*height: 253px;*/
    /*padding-top: 10px;*/
}

/*关闭按钮*/
.closebtn img{
    position: absolute;
    right: -10px;
    top:-10px;

    /*cursor*/
    cursor: pointer;
}

/*logo*/
#logo{
    /*宽高*/
    width: 89px;
    height: 54px;


    /*move*/
    cursor: move;

    /*背景logo 定位*/   
    background: url("../img/logo.png") no-repeat bottom;
    margin:0px auto;
    /*padding-top: 20px;*/

}

/*input*/
.input{
    /*宽高*/
    width: 238px;
    /*定位*/
    margin:20px auto;
    /*font*/
    font: 16px "Microsoft Yahei";
    font-weight: bold;
}
/*input css*/
.input input{
    /*W H*/
    height: 26px;
    width: 180px;
    /*border*/
    border: 1px #CCC solid;
    border-radius: 3px;
    /*font*/
    font:14px "Microsoft Yahei";
}

/*login-state*/
.login-state{
    /*W*/
    width: 235px;

    /*定位*/
    margin: 35px auto;
}


/*currentState*/
#currentState{
    /*clear float*/
    overflow: hidden;
    /*定位*/
    padding-top: 8px;
    /*W*/
    width: 95px;

    /*cursor*/
    cursor: pointer;
}

/*loginbtn*/
.loginbtn{
    /*W H*/
    width: 107px;
    height: 32px;

    /*bg*/
    background: url("../img/login.png") no-repeat;

    /*float*/
    float: left;

    /*定位*/
    margin-right: 30px;
}

/*currentState_icon*/
.currentState_icon{
    /*float*/
    float: left;
    /*W H*/
    height: 14px;
    width: 14px;

    /*定位*/
    margin-top: 1px;
}

/*angle*/
.angle{
    /*float*/
    float: left;
    /*W H*/
    height: 4px;
    width: 7px;
    /*bg*/
    background: url("../img/angle.png");
    /*定位*/
    margin: 5px 3px 0;
}

/*currentState_text*/
.currentState_text{

}

/*otherstate*/
#otherstate{
    list-style: none;
    width: 100px;
    height: 180px;
    position: absolute;
    right: 78px;
    bottom: -134px;
    background-color: #FFF;

    padding-left: 0px;


    /*display*/
    display: none;

    /*shdow*/
    box-shadow: 0px 0px 3px 3px #9A9A9A;
}
/*li*/
li{
    /*margin-top: 9px;*/
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding-left: 5px;
}
/*li div*/
li div{
    width: 14px;
    height: 14px;
    float: left;
    margin: 6px 6px 0 0;
}
.online{
    background: url("../img/online.png") no-repeat;
}
.callme{
    background: url("../img/callme.png")
}
.hidden{
    background: url("../img/hidden.png");
}
.away{
    background: url("../img/away.png");
}
.busy{
    background: url("../img/busy.png");
}
.silent{
    background: url("../img/silent.png");
}